.code {
  width:90%;
  background: #fff ;
  font-family: "operator mono", menlo, monaco, monospace;
  line-height: 1.6;
  color: #343a40;
  border-radius: 7px;
  margin:0 auto;
  box-shadow: 1px 4px  black;
  p {
    padding: 0 1.5em;
    margin:0;
    $lines: 4;
    $duration: 3.5s;

    @for $i from 0 through $lines {
      &:nth-child(#{$i + 1}) {
        animation:
          step
          $duration
          $duration / $lines * $i - $duration / $lines
          infinite;
      }
    }
  }
}

@keyframes step {
  from, 37%, 63%, to {
    background: transparent;
    color: #343a40;
  }
  37.1%, 62.9% {
    background: #343a40;
    color: #fff ;
  }
}

@media (max-width:512px) {
    .code {
      display:none;
    }
  }
  