@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Tajawal');
@import url("https://use.typekit.net/svx3mpk.css");
$default: 'Tajawal', sans-serif;
$default: 'europa', sans-serif;
$header: 'proxima-nova', sans-serif;

* {
    font-family: $header;
    letter-spacing: 0px;

}


@media (max-width:512px) {
    html {
        font-size:0.9rem;
    }
  } 
  