@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Tajawal');

$default: 'Tajawal', sans-serif;

* {
    font-family: $default;
}


@media (max-width:512px) {
    html {
        font-size:0.9rem;
    }
  }
  