@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Tajawal');
@import url("https://use.typekit.net/svx3mpk.css");
$default: 'Tajawal', sans-serif;
$default: 'europa', sans-serif;
$header: 'proxima-nova', sans-serif;
$titles: 'ff-basic-gothic-pro', sans-serif;

* {
    font-family: $header;
    letter-spacing: 0px;
    h1, h2, h3, h4, h5 {
        font-weight:600;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}


@media (max-width:512px) {
    html {
        font-size:0.9rem;
    }
  } 
  
.ls-1 {
    letter-spacing: 1px !important;
}

.ls-2 {
    letter-spacing: 2px !important;
}

.ls-0 {
    letter-spacing: 0px !important;
}