.navbar-toggler.collapsed span{
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    transition: all 2s linear;
}

.navbar-toggler span{
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.navbar-toggler {
    border:none;
}

.navbar-brand {
    font-weight:600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar-button .projects{
    overflow:hidden;

    &:after {
        font-family: "Ionicons";
        content:"\f341";
        position: absolute;
        top: 11px;
        right: -30px;
        transition: all 200ms ease;
    }

    &:hover:after {
        right: 7px;
    }
}

.navbar-button .project-ideas{
    overflow:hidden;

    &:after {
        font-family: "Ionicons";
        content:"\f451";
        position: absolute;
        top: 70px;
        right: -100px;
        transition: all 200ms ease;
    }

    &:hover:after {
        right: 7px;
    }
}

.navbar-button {
    overflow:hidden;
    display:block;
    font-size:1.5em;
    color:black;
    &:hover {
        color:inherit;
        text-decoration: none;
    }
    &.projects {
        &:after {
            font-family: "Ionicons";
            content:"\f341";
            padding-left:5px;
            visibility: hidden;
        }
    
        &:hover:after {
            visibility: visible;
        }
        &:before {
            font-family: "Ionicons";
            content:"\f341";
            padding-right:5px;

            visibility: hidden;
        }
    
        &:hover:before {
            visibility: visible;        }
    }

    &.project-ideas {
        &:after {
            font-family: "Ionicons";
            content:"\f451";
            padding-left:5px;
            visibility: hidden;
        }
    
        &:hover:after {
            visibility: visible;
        } 
        &:before {
            font-family: "Ionicons";
            content:"\f451";
            padding-right:5px;
            visibility: hidden;
        }
    
        &:hover:before {
            visibility: visible;
        }
    }
}

.social-links {
    a>span{
        font-size:1.5em;
    }
}