
.content {
    line-height:2em;
    img {
        width:100%;
        height:auto;
    }
    
    p {
        font-size:1.2em;
    }
}

@media (max-width:480px) {
    .content {  
        line-height: inherit;
    }
}

.index-list {
    padding:0;

    .index-list-item {
        list-style: none;
        a{
            font-size:1.2em;
            line-height:2em;
            padding-left:20px;
            &:hover {
                padding-left: 19px;
                color: #563d7c;
                text-decoration: none;
                background-color: transparent;
                border-left: 1px solid #563d7c;
            }
        }
    }
}

