@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i|Cinzel:400,700|Courgette|Crimson+Text:400,400i,600,600i,700|Inconsolata:400,700|Josefin+Slab:400,400i,600|Julius+Sans+One|Lato:100,100i,300,300i,400,700,900|Lobster|Lora:400,700|Metamorphous|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,800,900|Nunito:200,200i,300,400,600,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800|Oswald:200,300,400,500|Pacifico|Quicksand:300,400,500,700|Roboto+Condensed|Roboto+Slab|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Slabo+27px|Source+Sans+Pro:200,200i,300,300i,400,600,700,900|Source+Serif+Pro:400,600,700');


html {
	font-size: 20px;
	font-family:"Lato";
	background-color:#3A3A3A;
	color:white;
}

body {
	background-color:#292929;
	margin-left:20%;
	margin-right:20%;
}

header {
	background-color:#464646;
	width:100%;

}

#title {
	font-size:50px;
	text-align:center;
	text-shadow: 2px 1px 2px black;
}

#subtitle {
	font-size:35px;
	text-align:center;
	text-shadow: 2px 1px 2px black;

}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

#navbaritem {
	float:left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    transition: background-color .3s;

}

li a:hover {
	background-color: #003F1A;
}
article {
	background-color:#2F2F2F;
	padding:3.5%;
}

p {
	font-size:20px;
	line-height:110%;
}

a {
	text-decoration: none;
	color:#878787;
}
a:hover {
	color:#FFFFFF;
}

footer {
	text-align:center;
	padding-top: 2%;
	padding-bottom: 2%;
}