.bigheader {
  font-size:72px;
  font-family:'Roboto Slab', serif;
  color:rgb(154,9,9);
  font-weight:600;
}

.jumbotron h1 {
  font-family:'Roboto Slab';
  text-align:center;
}

footer p {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#000000;
  /*margin-bottom:0;*/
}

html, body {
  overflow-x:hidden;
}

@media (min-width: 600px) {
  .fb-page.adapt {
    float:right;
    display:block;
    width:30%;
  }
}

@media (min-width: 600px) {
  .card {
    width:70%;
  }
}

